    {% if tags and "gardenEntry" in tags %}
<div id="rings">
<div class="toc-title-container">
<div class="toc-title">Webrings</div>
</div>
<div class="rings-container">
<div class = "ring-entry">
<a href="https://webri.ng/webring/thebookring/previous?via=https://hermitage.utsob.me"><img src="https://i.imgur.com/sIR6aFP.gif" width="13" height="13"> </a><a href="https://library.marigold.town/"><img src="https://i.imgur.com/kZzmx1a.gif" width="88" height="31"></a><a href="https://webri.ng/webring/thebookring/next?via=https://hermitage.utsob.me"><img src="https://i.imgur.com/6ni3bTd.gif" width="13" height="13"></a>
</div>
</div>
</div>
{% endif %}

{% if tags and "gardenEntry" in tags %}
</div>
{% endif %}


