{% if tags and "gardenEntry" in tags %}
<div id="rings">
<div class="toc-title-container">
<div class="toc-title">Webrings</div>
</div>
<div class="rings-container">
<div class = "ring-entry">
<div id='thebookring'>
<script type="text/javascript" src="https://library.thecozy.cat/wp-content/onionring/onionring-variables.js?v=1.0"></script>
<script type="text/javascript" src="https://library.thecozy.cat/wp-content/onionring/onionring-widget.js"></script>
</div>
</div>
</div>
</div>
{% endif %}

{% if tags and "gardenEntry" in tags %}
</div>
{% endif %}


