{% if tags and "gardenEntry" in tags %}
<div id="rings">
<div class="toc-title-container">
<div class="toc-title">Webrings</div>
</div>
<div class="rings-container">
<div class = "ring-entry">
<div id='thebookring'> <script data-optimized="1" type="text/javascript" src="https://library.thecozy.cat/wp-content/litespeed/js/ae2da2a568a108306144ebb439cd5c5e.js?ver=4a1c1" defer data-deferred="1"></script> <script data-optimized="1" type="text/javascript" src="https://library.thecozy.cat/wp-content/litespeed/js/09d391355376c4817c4cedb18e90cccd.js?ver=0cccd" defer data-deferred="1"></script> </div>
</div>
</div>
</div>
{% endif %}

{% if tags and "gardenEntry" in tags %}
</div>
{% endif %}


