    <script>
      document.querySelectorAll('.human-date').forEach(function (el) {
        el.innerHTML = luxon.DateTime.fromISO(el.getAttribute('data-date') || el.innerText).toFormat('MMM dd, yyyy h:mm a');
      });
    </script>