:root {
    --h1-color: var(--interactive-accent);
}

body {

    .timestamps {
        display: flex;
        flex-direction: row;
        font-size: 0.8em;
        color: lightslategray;
        div {
            margin-right: 5px;
        }
    }

    h1 {
        font-size: 2em !important; /* 40px/16=2.5em */
    }

    h2 {
        font-size: 1.5em !important; /* 30px/16=1.875em */
    }

    h3 {
        font-size: 1.17em !important;
    }

    h4 {
        font-size: 1em !important;
        font-weight: bolder !important;
    }

    h5 {
        font-size: .83em !important;
        font-weight: bolder !important;
    }

    h6 {
        font-size: .67em !important;
        font-weight: bolder !important; 
    }

    table {
        width: 100% !important;
        border: 1px solid lightgray !important;

        td, th {
            padding: 5px 10px !important;

            hr {
                margin: 5px !important;
            }
        }
    }

    .graph {
        @media (max-width: 1490px) {
            display: block !important;
            order: 3;

            & div:first-child {
                justify-content: flex-start !important;
                
            }
            #link-graph {
                border-radius: 0 10px 10px 10px !important;
            }
        }
    }

    .toc {
        @media (max-width: 1490px) {
            display: block !important;
        }
    }

    .sidebar-container {
        flex-wrap: wrap;
        & > div {
            min-width: 300px;
        }

        @media (max-width: 1490px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    nav.filetree-sidebar {
        .fa-sticky-note {
            display: none !important;
        }
    }

    .transclusion {
        position: relative;
        .markdown-embed-link {
            z-index: 99;
            display: block;
            width: auto !important;
        }
    }

    .header-tags {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;

        .tag {
            margin-right: 5px;
            background-color: #6a86958c;
            padding: 0 5px;
            border-radius: 10px;
            color: #f9f9f9;
        }
    }

    .header-meta {
        margin-bottom: 1.8em;
    }
}

// body:not(.remove-pre-rel-lines) ul > li::before, body:not(.remove-pre-rel-lines) ol > li::before {
//     top: 0em !important;
// }
