body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    .markdown-embed {
        padding-left: 3vw !important;
        padding-right: 3vw !important;
        background-color: inherit !important;
        border: none;
        
        &::before {
            content"“";
            font-size: 3em;
        }
    }
}
