<div id="forest-graph">
    <div class="forest-body">
        {% for row in userComputed.forest %}
        <div class="forest-row">
            {% for tree in row %}
            <a class="tree {% if tree[0] == 0 %}plane{% endif %}" {% if tree[0] != 0 %}href="{{tree[1]}}" title="{{tree[2]}}"{% endif %}>
                {% if tree[0] == 0 %}
                <span></span>
                {% else %}
                <img src="/img/{{tree[0]}}.svg" style="width: auto;height: {{5 + (10 * tree[3])}}px;" />
                {% endif %}
            </a>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>