{%- if mood or weather -%}
<div class="journal-icons">
{%- if mood -%}
<span  title="{{mood}}"><i icon-name="{{userComputed.journal_icons.mood[mood]}}"></i></span>
{%- endif -%}
{%- if weather -%}
<span  title="{{weather}}"><i icon-name="{{userComputed.journal_icons.weather[weather]}}"></i></span>
{%- endif -%}
</div>
{%- endif -%}