<div class="timestamps">{% if created %}<div><i icon-name="calendar-plus"></i> <span class="human-date" data-date="{{created}}"></span></div>{% endif %}
{% if updated %}<div><i icon-name="calendar-clock"></i> <span class="human-date" data-date="{{updated}}"></span></div>{% endif %}
</div>