{%- if tags and 'reading-notes' in tags or 'reading-note' in tags -%}
{%- for note in collections.note -%}
{%- if note.data.tags and 'reading-convention' in note.data.tags -%}
<div class="callout" data-callout="info">
    <div class="callout-title">{{ note.data.title or note.fileSlug }}</div>
    {{ note.templateContent | hideDataview | link | taggify | safe}}
</div>
{%- endif -%}
{%- endfor -%}
{%- endif -%}