---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: ChatGPT-User
Allow: /
Disallow: /searchIndex.json

User-agent: ClaudeBot
Allow: /
Disallow: /searchIndex.json

User-agent: PerplexityBot
Allow: /
Disallow: /searchIndex.json

User-agent: Google-Extended
Allow: /
Disallow: /searchIndex.json

User-agent: *
Allow: /
Disallow: /searchIndex.json
Sitemap: {{ meta.siteBaseUrl }}/sitemap.xml
